# SQL

## Configuração do Ambiente

Precisamos "subir" o container com o postgres e carregar os dados na base.
Vocês já fizeram isso no projeto 2 usando um script.
Aqui vamos fazer usando a linha de comando do container.

Primeiro criamos o container:
`docker-compose -f docker-compose.yml up`

ou
```
docker-compose down -v
docker-compose up -d
```

Primeiro verifiquem o nome do container usando o comando:
`docker ps`

Depois usamos o nome do container para "entrar" na linha de comando do container:
`docker exec -it database bash`

Verifiquem se a pasta `data` dentro do container tem os arquivos necessários.
Caso não tenha, corra os comandos abaixo, para copiar os arquivos para a pasta data antes de povoar a base de dados. **Só é necessário correr os comandos caso a pasta `data` não esteja com os arquivos desejados e à medida em que for sendo necessário.**

```
docker cp ./data/wheater_stations.sql database:/data/weather_stations.sql
docker cp ./data/surgetech_conference.sql database:/data/surgetech_conference.sql
docker cp ./data/rexon_metals.sql database:/data/rexon_metals.sql

```
Agora, vamos usar comandos de postgres para criar e povoar a base de dados.

Primeiro, vamos apagar a base, para garantir que não temos resquícios de usos anteriores.

`psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS rexon_metals'`

E agora criamos a base de dados:

`psql -U postgres -h localhost -c 'CREATE DATABASE rexon_metals'`

Por fim, vamos povoar os dados na base de dados, usando o arquivo `rexon_metals.sql`

`psql -U postgres -h localhost -d rexon_metals -f data/rexon_metals.sql`


Para as outras bases de dados, os passos são os mesmos:

``psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS weather_stations'``
``psql -U postgres -h localhost -c 'CREATE DATABASE weather_stations'``
``psql -U postgres -h localhost -d weather_stations -f data/weather_stations.sql``

``psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS surgetech_conference'``
``psql -U postgres -h localhost -c 'CREATE DATABASE surgetech_conference'``
``psql -U postgres -h localhost -d surgetech_conference -f data/surgetech_conference.sql``

``psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS imdb'``
``psql -U postgres -h localhost -c 'CREATE DATABASE imdb'``
``psql -U postgres -h localhost -d imdb -f data/imdb_lecture.sql``

# Queries usando o jupyter

In [1]:
import pandas as pd

In [2]:
%reload_ext sql

In [3]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/rexon_metals

Connecting to 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

In [10]:
%sql SELECT * FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [25]:
pd.DataFrame(_)

,customer_id,name,region,street_address,city,state,zip
0,1,LITE Industrial,Southwest,729 Ravine Way,Irving,TX,75014
1,2,Rex Tooling Inc,Southwest,6129 Collie Blvd,Dallas,TX,75201
2,3,Re-Barre Construction,Southwest,9043 Windy Dr,Irving,TX,75032
3,4,Prairie Construction,Southwest,264 Long Rd,Moore,OK,62104
4,5,Marsh Lane Metal Works,Southeast,9143 Marsh Ln,Avondale,LA,79782

In [30]:
%%sql
SELECT *
FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [31]:
query = %sql SELECT * FROM customer LIMIT 10;
df = pd.DataFrame(query)
df

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

,customer_id,name,region,street_address,city,state,zip
0,1,LITE Industrial,Southwest,729 Ravine Way,Irving,TX,75014
1,2,Rex Tooling Inc,Southwest,6129 Collie Blvd,Dallas,TX,75201
2,3,Re-Barre Construction,Southwest,9043 Windy Dr,Irving,TX,75032
3,4,Prairie Construction,Southwest,264 Long Rd,Moore,OK,62104
4,5,Marsh Lane Metal Works,Southeast,9143 Marsh Ln,Avondale,LA,79782

In [32]:
%sql SELECT * FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [33]:
%sql SELECT customer_id, name FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+
| customer_id |          name          |
+-------------+------------------------+
|      1      |    LITE Industrial     |
|      2      |    Rex Tooling Inc     |
|      3      | Re-Barre Construction  |
|      4      |  Prairie Construction  |
|      5      | Marsh Lane Metal Works |
+-------------+------------------------+

In [35]:
%sql select * from product

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+-------+
| product_id | description | price |
+------------+-------------+-------+
|     1      |    Copper   |  7.51 |
|     2      |   Aluminum  |  2.58 |
|     3      |    Silver   |   15  |
|     4      |    Steel    | 12.31 |
|     5      |    Bronze   |   4   |
|     6      |  Duralumin  |  7.6  |
|     7      |    Solder   | 14.16 |
|     8      |   Stellite  | 13.31 |
|     9      |    Brass    |  4.75 |
+------------+-------------+-------+

In [38]:
%sql select order_id, ship_date from customer_order;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+----------+------------+
| order_id | ship_date  |
+----------+------------+
|    1     | 2015-05-18 |
|    2     | 2015-05-21 |
|    3     | 2015-05-23 |
|    4     | 2015-05-22 |
|    5     | 2015-05-20 |
+----------+------------+

In [39]:
%%sql
SELECT
product_id,
description,
price,
price * 1.07 as taxed_price
from product;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+-------+-------------+
| product_id | description | price | taxed_price |
+------------+-------------+-------+-------------+
|     1      |    Copper   |  7.51 |    8.0357   |
|     2      |   Aluminum  |  2.58 |    2.7606   |
|     3      |    Silver   |   15  |    16.05    |
|     4      |    Steel    | 12.31 |   13.1717   |
|     5      |    Bronze   |   4   |     4.28    |
|     6      |  Duralumin  |  7.6  |    8.132    |
|     7      |    Solder   | 14.16 |   15.1512   |
|     8      |   Stellite  | 13.31 |   14.2417   |
|     9      |    Brass    |  4.75 |    5.0825   |
+------------+-------------+-------+-------------+

In [42]:
%%sql
SELECT
product_id,
description,
price,
round(price * 1.07, 2) as taxed_price
from product;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+-------+-------------+
| product_id | description | price | taxed_price |
+------------+-------------+-------+-------------+
|     1      |    Copper   |  7.51 |     8.04    |
|     2      |   Aluminum  |  2.58 |     2.76    |
|     3      |    Silver   |   15  |    16.05    |
|     4      |    Steel    | 12.31 |    13.17    |
|     5      |    Bronze   |   4   |     4.28    |
|     6      |  Duralumin  |  7.6  |     8.13    |
|     7      |    Solder   | 14.16 |    15.15    |
|     8      |   Stellite  | 13.31 |    14.24    |
|     9      |    Brass    |  4.75 |     5.08    |
+------------+-------------+-------+-------------+

In [45]:
%%sql
SELECT product_id,
description,
(price - 1.10) as reduced_price
from product;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+---------------+
| product_id | description | reduced_price |
+------------+-------------+---------------+
|     1      |    Copper   |      6.41     |
|     2      |   Aluminum  |      1.48     |
|     3      |    Silver   |     13.90     |
|     4      |    Steel    |     11.21     |
|     5      |    Bronze   |      2.90     |
|     6      |  Duralumin  |      6.50     |
|     7      |    Solder   |     13.06     |
|     8      |   Stellite  |     12.21     |
|     9      |    Brass    |      3.65     |
+------------+-------------+---------------+

In [46]:
%%sql
SELECT name,
city || ', ' || state as location
from customer;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+------------------------+--------------+
|          name          |   location   |
+------------------------+--------------+
|    LITE Industrial     |  Irving, TX  |
|    Rex Tooling Inc     |  Dallas, TX  |
| Re-Barre Construction  |  Irving, TX  |
|  Prairie Construction  |  Moore, OK   |
| Marsh Lane Metal Works | Avondale, LA |
+------------------------+--------------+

In [48]:
%sql select * from customer;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [54]:
%%sql
SELECT name,
concat(city,', ', state) as location
from customer;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+------------------------+--------------+
|          name          |   location   |
+------------------------+--------------+
|    LITE Industrial     |  Irving, TX  |
|    Rex Tooling Inc     |  Dallas, TX  |
| Re-Barre Construction  |  Irving, TX  |
|  Prairie Construction  |  Moore, OK   |
| Marsh Lane Metal Works | Avondale, LA |
+------------------------+--------------+

## Criar a base de dados `wheather_stations`

`psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS weather_stations'`

E agora criamos a base de dados:

`psql -U postgres -h localhost -c 'CREATE DATABASE weather_stations'`

Por fim, vamos povoar os dados na base de dados, usando o arquivo `weather_stations.sql`

`psql -U postgres -h localhost -d weather_stations -f data/weather_stations.sql`

In [3]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/weather_stations

Connecting to 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

In [4]:
%sql select * from information_schema.tables --where table_schema = 'public'

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

212 rows affected.

+------------------+--------------+-----------------------+------------+------------------------------+----------------------+---------------------------+--------------------------+------------------------+--------------------+----------+---------------+
|  table_catalog   | table_schema |       table_name      | table_type | self_referencing_column_name | reference_generation | user_defined_type_catalog | user_defined_type_schema | user_defined_type_name | is_insertable_into | is_typed | commit_action |
+------------------+--------------+-----------------------+------------+------------------------------+----------------------+---------------------------+--------------------------+------------------------+--------------------+----------+---------------+
| weather_stations |    public    |      station_data     | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
| weather_stations |  pg_catalog  |      pg_statistic     | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
| weather_stations |  pg_catalog  |        pg_type        | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
| weather_stations |  pg_catalog  |    pg_foreign_table   | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
| weather_stations |  pg_catalog  |       pg_authid       | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
| weather_stations |  pg_catalog  |       pg_shadow       |    VIEW    |             None             |         None         |            None           |           None           |          None          |         NO         |    NO    |      None     |
| weather_stations |  pg_catalog  |        pg_roles       |    VIEW    |             None             |         None         |            None           |           None           |          None          |         NO         |    NO    |      None     |
| weather_stations |  pg_catalog  | pg_statistic_ext_data | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
| weather_stations |  pg_catalog  |   pg_hba_file_rules   |    VIEW    |             None             |         None         |            None           |           None           |          None          |         NO         |    NO    |      None     |
| weather_stations |  pg_catalog  |      pg_settings      |    VIEW    |             None             |         None         |            None           |           None           |          None          |         NO         |    NO    |      None     |
+------------------+--------------+-----------------------+------------+------------------------------+----------------------+---------------------------+--------------------------+------------------------+--------------------+----------+---------------+
Truncated to displaylimit of 10.

In [32]:
df = pd.DataFrame(_)

In [33]:
df['table_schema'].value_counts()

table_schema
pg_catalog            142
information_schema     69
public                  1
Name: count, dtype: int64

In [34]:
%%sql
SELECT * FROM station_data
limit 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

10 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

## Cláusula `WHERE`

In [35]:
%%sql
SELECT * FROM station_data
WHERE year = 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

249 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     719160     |    BAB974   | 2010 |   1   |  22 |   -22.8   |      1014.2      |    None    |    10.2    |    -18.5    |       0       |    9.4     | False | False | False |  False  |  False  |
|     766870     |    7C0938   | 2010 |   3   |  22 |     48    |      871.2       |    4.4     |    1.5     |     50.8    |      0.11     |    None    |  True |  True |  True |   True  |   True  |
|     134624     |    11CEA1   | 2010 |   2   |  17 |     46    |       None       |    3.4     |    2.6     |      46     |      None     |    None    | False | False | False |  False  |  False  |
|     384010     |    C67A6C   | 2010 |   3   |  24 |    14.4   |       None       |     4      |    10.7    |     21.1    |      None     |    None    | False | False | False |  False  |  False  |
|     232210     |    DFDF58   | 2010 |   2   |  25 |    -7.3   |       None       |     3      |    10.3    |     -2.2    |      None     |    None    | False | False | False |  False  |  False  |
|     717385     |    302766   | 2010 |   3   |  14 |    28.9   |       None       |    None    |    6.9     |     47.2    |       0       |    None    | False | False | False |  False  |  False  |
|     726375     |    36C13D   | 2010 |   3   |  6  |    18.9   |       None       |     10     |    2.7     |     30.7    |       0       |     2      | False | False | False |  False  |  False  |
|     710140     |    7FE84E   | 2010 |   4   |  2  |    8.7    |       None       |    None    |    None    |     36.4    |       0       |    None    | False | False | False |  False  |  False  |
|     965950     |    80413C   | 2010 |   2   |  25 |    75.6   |      1006.8      |    3.5     |    1.5     |     78.2    |      0.75     |    None    | False | False | False |  False  |  False  |
|     144470     |    079A10   | 2010 |   1   |  28 |    34.3   |      1001.9      |    7.9     |    2.4     |     41.9    |      0.2      |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [36]:
%%sql
SELECT * FROM station_data
WHERE year != 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

27751 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [39]:
%%sql
SELECT * FROM station_data
WHERE year <> 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

27751 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [40]:
%%sql
SELECT * FROM station_data
WHERE year BETWEEN 2005 AND 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

4348 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
|     941830     |    229317   | 2007 |   4   |  19 |    66.5   |      994.9       |    None    |     4      |     76.3    |       0       |    None    | False | False | False |  False  |  False  |
|     932920     |    EB6580   | 2009 |   5   |  17 |    52.1   |       None       |    12.4    |    7.3     |     59.4    |       0       |    None    | False | False | False |  False  |  False  |
|     985310     |    A79DEC   | 2007 |   7   |  31 |    77.6   |       None       |    11.8    |    3.4     |     82.5    |       0       |    None    | False | False | False |  False  |  False  |
|     710830     |    FC6047   | 2008 |   1   |  16 |   -13.7   |      990.6       |    0.4     |    21.9    |     -8.7    |      0.1      |    11.4    | False | False | False |  False  |  False  |
|     948930     |    77A411   | 2006 |   12  |  21 |    60.1   |      1000.4      |    None    |    18.4    |     68.1    |       0       |    None    | False | False | False |  False  |  False  |
|     889680     |    299DB3   | 2005 |   9   |  23 |    26.7   |      994.8       |    2.5     |     13     |     27.8    |       0       |    None    |  True |  True |  True |   True  |   True  |
|     724505     |    A49553   | 2005 |   4   |  28 |    42.7   |       None       |    6.8     |    11.2    |     55.4    |      0.42     |    None    | False | False | False |  False  |  False  |
|     21490      |    01CD56   | 2007 |   5   |  11 |    31.1   |      953.7       |    8.4     |    4.3     |     32.8    |      0.22     |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [41]:
%%sql
SELECT * FROM station_data
WHERE year > 2005 AND year< 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

3258 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
|     941830     |    229317   | 2007 |   4   |  19 |    66.5   |      994.9       |    None    |     4      |     76.3    |       0       |    None    | False | False | False |  False  |  False  |
|     932920     |    EB6580   | 2009 |   5   |  17 |    52.1   |       None       |    12.4    |    7.3     |     59.4    |       0       |    None    | False | False | False |  False  |  False  |
|     985310     |    A79DEC   | 2007 |   7   |  31 |    77.6   |       None       |    11.8    |    3.4     |     82.5    |       0       |    None    | False | False | False |  False  |  False  |
|     710830     |    FC6047   | 2008 |   1   |  16 |   -13.7   |      990.6       |    0.4     |    21.9    |     -8.7    |      0.1      |    11.4    | False | False | False |  False  |  False  |
|     948930     |    77A411   | 2006 |   12  |  21 |    60.1   |      1000.4      |    None    |    18.4    |     68.1    |       0       |    None    | False | False | False |  False  |  False  |
|     21490      |    01CD56   | 2007 |   5   |  11 |    31.1   |      953.7       |    8.4     |    4.3     |     32.8    |      0.22     |    None    | False | False | False |  False  |  False  |
|     727920     |    19FFC2   | 2009 |   5   |  29 |    45.2   |       None       |     10     |    2.6     |     66.3    |      0.03     |    None    | False | False | False |  False  |  False  |
|     266330     |    10DA9B   | 2006 |   11  |  16 |    43.3   |      999.7       |    6.2     |    3.1     |     46.8    |      0.02     |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [6]:
%%sql
SELECT * FROM station_data
WHERE year >= 2005 AND year<= 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

4348 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
|     941830     |    229317   | 2007 |   4   |  19 |    66.5   |      994.9       |    None    |     4      |     76.3    |       0       |    None    | False | False | False |  False  |  False  |
|     932920     |    EB6580   | 2009 |   5   |  17 |    52.1   |       None       |    12.4    |    7.3     |     59.4    |       0       |    None    | False | False | False |  False  |  False  |
|     985310     |    A79DEC   | 2007 |   7   |  31 |    77.6   |       None       |    11.8    |    3.4     |     82.5    |       0       |    None    | False | False | False |  False  |  False  |
|     710830     |    FC6047   | 2008 |   1   |  16 |   -13.7   |      990.6       |    0.4     |    21.9    |     -8.7    |      0.1      |    11.4    | False | False | False |  False  |  False  |
|     948930     |    77A411   | 2006 |   12  |  21 |    60.1   |      1000.4      |    None    |    18.4    |     68.1    |       0       |    None    | False | False | False |  False  |  False  |
|     889680     |    299DB3   | 2005 |   9   |  23 |    26.7   |      994.8       |    2.5     |     13     |     27.8    |       0       |    None    |  True |  True |  True |   True  |   True  |
|     724505     |    A49553   | 2005 |   4   |  28 |    42.7   |       None       |    6.8     |    11.2    |     55.4    |      0.42     |    None    | False | False | False |  False  |  False  |
|     21490      |    01CD56   | 2007 |   5   |  11 |    31.1   |      953.7       |    8.4     |    4.3     |     32.8    |      0.22     |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [7]:
%%sql
SELECT * FROM station_data
WHERE month = 3
OR month = 6
OR month = 9
OR month = 12

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

9438 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     471100     |    6A6704   | 1990 |   9   |  19 |    50.5   |       None       |     6      |    4.1     |     62.5    |       0       |    None    | False | False | False |  False  |  False  |
|     29880      |    921894   | 1986 |   12  |  26 |    13.9   |       None       |    6.6     |    14.7    |     16.8    |      0.02     |    8.7     | False | False | False |  False  |  False  |
|     484750     |    A38C90   | 1988 |   6   |  24 |    72.6   |       None       |    8.7     |    3.1     |     87.5    |       0       |    None    | False | False | False |  False  |  False  |
|     724500     |    777F09   | 1988 |   3   |  28 |    47.2   |      958.1       |    13.6    |    18.3    |     63.1    |      0.01     |    None    | False | False | False |  False  |  False  |
|     410610     |    D6A909   | 1991 |   6   |  27 |    42.1   |      930.9       |    6.2     |    3.3     |     96.8    |       0       |    None    | False | False | False |  False  |  False  |
|     724320     |    207979   | 1988 |   3   |  4  |    33.1   |      999.4       |    3.1     |    9.3     |     35.1    |      0.23     |    None    |  True |  True |  True |   True  |   True  |
|     150630     |    4ADE04   | 1996 |   12  |  10 |    28.3   |      990.4       |    4.9     |    3.9     |      32     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [12]:
%%sql
SELECT * FROM station_data
WHERE month IN (3, 6, 9, 12);

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

9438 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     471100     |    6A6704   | 1990 |   9   |  19 |    50.5   |       None       |     6      |    4.1     |     62.5    |       0       |    None    | False | False | False |  False  |  False  |
|     29880      |    921894   | 1986 |   12  |  26 |    13.9   |       None       |    6.6     |    14.7    |     16.8    |      0.02     |    8.7     | False | False | False |  False  |  False  |
|     484750     |    A38C90   | 1988 |   6   |  24 |    72.6   |       None       |    8.7     |    3.1     |     87.5    |       0       |    None    | False | False | False |  False  |  False  |
|     724500     |    777F09   | 1988 |   3   |  28 |    47.2   |      958.1       |    13.6    |    18.3    |     63.1    |      0.01     |    None    | False | False | False |  False  |  False  |
|     410610     |    D6A909   | 1991 |   6   |  27 |    42.1   |      930.9       |    6.2     |    3.3     |     96.8    |       0       |    None    | False | False | False |  False  |  False  |
|     724320     |    207979   | 1988 |   3   |  4  |    33.1   |      999.4       |    3.1     |    9.3     |     35.1    |      0.23     |    None    |  True |  True |  True |   True  |   True  |
|     150630     |    4ADE04   | 1996 |   12  |  10 |    28.3   |      990.4       |    4.9     |    3.9     |      32     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [ ]:
%%sql
SELECT * FROM station_data
WHERE month NOT IN (3, 6, 9, 12);

In [13]:
%%sql
SELECT * FROM station_data
WHERE month % 3 = 0

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

9438 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     471100     |    6A6704   | 1990 |   9   |  19 |    50.5   |       None       |     6      |    4.1     |     62.5    |       0       |    None    | False | False | False |  False  |  False  |
|     29880      |    921894   | 1986 |   12  |  26 |    13.9   |       None       |    6.6     |    14.7    |     16.8    |      0.02     |    8.7     | False | False | False |  False  |  False  |
|     484750     |    A38C90   | 1988 |   6   |  24 |    72.6   |       None       |    8.7     |    3.1     |     87.5    |       0       |    None    | False | False | False |  False  |  False  |
|     724500     |    777F09   | 1988 |   3   |  28 |    47.2   |      958.1       |    13.6    |    18.3    |     63.1    |      0.01     |    None    | False | False | False |  False  |  False  |
|     410610     |    D6A909   | 1991 |   6   |  27 |    42.1   |      930.9       |    6.2     |    3.3     |     96.8    |       0       |    None    | False | False | False |  False  |  False  |
|     724320     |    207979   | 1988 |   3   |  4  |    33.1   |      999.4       |    3.1     |    9.3     |     35.1    |      0.23     |    None    |  True |  True |  True |   True  |   True  |
|     150630     |    4ADE04   | 1996 |   12  |  10 |    28.3   |      990.4       |    4.9     |    3.9     |      32     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

## Colunas `Varchar`

In [14]:
%%sql
SELECT * FROM station_data
WHERE report_code = '513A63';

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

1 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     702223     |    513A63   | 2010 |   1   |  22 |   -23.1   |       None       |     10     |    0.8     |    -15.6    |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+

In [15]:
%%sql
SELECT * FROM station_data
WHERE report_code in ('513A63', '1F8A7B', 'EF616A');

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

3 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     702223     |    513A63   | 2010 |   1   |  22 |   -23.1   |       None       |     10     |    0.8     |    -15.6    |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+

In [ ]:
# encontrar linhas em que o report_code tenha tamanho 6

In [16]:
%%sql
SELECT * FROM station_data
WHERE length(report_code) = 6;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

28000 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [17]:
%%sql
SELECT * FROM station_data
WHERE report_code LIKE 'A%';

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

1718 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     484750     |    A38C90   | 1988 |   6   |  24 |    72.6   |       None       |    8.7     |    3.1     |     87.5    |       0       |    None    | False | False | False |  False  |  False  |
|     985310     |    A79DEC   | 2007 |   7   |  31 |    77.6   |       None       |    11.8    |    3.4     |     82.5    |       0       |    None    | False | False | False |  False  |  False  |
|     724505     |    A49553   | 2005 |   4   |  28 |    42.7   |       None       |    6.8     |    11.2    |     55.4    |      0.42     |    None    | False | False | False |  False  |  False  |
|     215350     |    ACE19E   | 1991 |   4   |  9  |    -6.5   |       None       |    5.5     |     25     |     -3.4    |      0.02     |    2.4     | False | False | False |  False  |  False  |
|     209730     |    A70AAE   | 1986 |   3   |  26 |   -19.8   |       None       |    8.5     |    12.1    |    -13.8    |      0.03     |    4.7     | False | False | False |  False  |  False  |
|     403750     |    A57AC4   | 2000 |   1   |  23 |    23.3   |      931.8       |    6.1     |    1.4     |     47.2    |       0       |    None    | False | False | False |  False  |  False  |
|     27030      |    AAE874   | 2009 |   11  |  3  |    29.9   |      1013.4      |    None    |    6.2     |      34     |       0       |    None    | False | False | False |  False  |  False  |
|     992630     |    A60CF2   | 1981 |   12  |  22 |    None   |       None       |    None    |    16.5    |     43.3    |       0       |    None    | False | False | False |  False  |  False  |
|     725124     |    A397B5   | 1993 |   2   |  4  |     12    |       None       |     10     |    6.7     |     33.6    |       0       |    None    | False | False | False |  False  |  False  |
|     723200     |    A7D882   | 2009 |   8   |  5  |     70    |       None       |    8.9     |     3      |     77.9    |      0.17     |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [ ]:
%%sql
SELECT * FROM station_data
WHERE report_code LIKE 'B_C%';

## Cláusula `WHERE` em `BOOL`

In [20]:
%%sql
SELECT * FROM station_data
WHERE tornado = true AND hail = true;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

3000 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+------+------+------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth | fog  | rain | hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+------+------+------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    | True | True | True |   True  |   True  |
|     724320     |    207979   | 1988 |   3   |  4  |    33.1   |      999.4       |    3.1     |    9.3     |     35.1    |      0.23     |    None    | True | True | True |   True  |   True  |
|     743920     |    2ABE7D   | 1996 |   5   |  21 |    57.6   |       None       |    5.8     |    7.5     |      70     |       0       |    None    | True | True | True |   True  |   True  |
|     724460     |    B9B8B2   | 1986 |   10  |  2  |    64.2   |       976        |    5.5     |    6.5     |     65.4    |      0.61     |    None    | True | True | True |   True  |   True  |
|     700450     |    77D245   | 1985 |   11  |  4  |   -12.2   |      1023.7      |    6.2     |    16.3    |     -7.2    |       0       |    0.8     | True | True | True |   True  |   True  |
|     64700      |    267CCA   | 1977 |   9   |  1  |    56.7   |       None       |    2.1     |    4.2     |     59.8    |       0       |    None    | True | True | True |   True  |   True  |
|     889680     |    299DB3   | 2005 |   9   |  23 |    26.7   |      994.8       |    2.5     |     13     |     27.8    |       0       |    None    | True | True | True |   True  |   True  |
|     308560     |    B8FF32   | 1948 |   3   |  11 |    None   |       None       |    7.6     |    2.2     |     15.1    |      None     |    None    | True | True | True |   True  |   True  |
|     35430      |    4D702A   | 1944 |   11  |  16 |    32.9   |       None       |    0.4     |     7      |     33.8    |       0       |    None    | True | True | True |   True  |   True  |
|     206740     |    F5C190   | 1970 |   7   |  8  |    31.3   |       None       |    13.6    |    17.8    |     31.7    |       0       |    None    | True | True | True |   True  |   True  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+------+------+------+---------+---------+
Truncated to displaylimit of 10.

In [ ]:
# postgres não funciona com 1, apenas true e false
# no sql puro funciona

In [22]:
%%sql
SELECT * FROM station_data
WHERE tornado = 1 AND hail = 1;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

RuntimeError: (psycopg2.ProgrammingError) can't execute an empty query
[SQL: --WHERE tornado = 1 AND hail = 1;]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [23]:
%%sql
SELECT * FROM station_data
WHERE tornado AND hail;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

3000 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+------+------+------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth | fog  | rain | hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+------+------+------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    | True | True | True |   True  |   True  |
|     724320     |    207979   | 1988 |   3   |  4  |    33.1   |      999.4       |    3.1     |    9.3     |     35.1    |      0.23     |    None    | True | True | True |   True  |   True  |
|     743920     |    2ABE7D   | 1996 |   5   |  21 |    57.6   |       None       |    5.8     |    7.5     |      70     |       0       |    None    | True | True | True |   True  |   True  |
|     724460     |    B9B8B2   | 1986 |   10  |  2  |    64.2   |       976        |    5.5     |    6.5     |     65.4    |      0.61     |    None    | True | True | True |   True  |   True  |
|     700450     |    77D245   | 1985 |   11  |  4  |   -12.2   |      1023.7      |    6.2     |    16.3    |     -7.2    |       0       |    0.8     | True | True | True |   True  |   True  |
|     64700      |    267CCA   | 1977 |   9   |  1  |    56.7   |       None       |    2.1     |    4.2     |     59.8    |       0       |    None    | True | True | True |   True  |   True  |
|     889680     |    299DB3   | 2005 |   9   |  23 |    26.7   |      994.8       |    2.5     |     13     |     27.8    |       0       |    None    | True | True | True |   True  |   True  |
|     308560     |    B8FF32   | 1948 |   3   |  11 |    None   |       None       |    7.6     |    2.2     |     15.1    |      None     |    None    | True | True | True |   True  |   True  |
|     35430      |    4D702A   | 1944 |   11  |  16 |    32.9   |       None       |    0.4     |     7      |     33.8    |       0       |    None    | True | True | True |   True  |   True  |
|     206740     |    F5C190   | 1970 |   7   |  8  |    31.3   |       None       |    13.6    |    17.8    |     31.7    |       0       |    None    | True | True | True |   True  |   True  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+------+------+------+---------+---------+
Truncated to displaylimit of 10.

In [25]:
%%sql
SELECT * FROM station_data
WHERE tornado=false AND hail=true;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-----+------+------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth | fog | rain | hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-----+------+------+---------+---------+
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-----+------+------+---------+---------+

In [24]:
%%sql
SELECT * FROM station_data
WHERE NOT tornado AND hail;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-----+------+------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth | fog | rain | hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-----+------+------+---------+---------+
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-----+------+------+---------+---------+

## Valores `NULL`

In [26]:
%%sql
SELECT * FROM station_data
WHERE snow_depth IS NULL;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

26448 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
|     471100     |    6A6704   | 1990 |   9   |  19 |    50.5   |       None       |     6      |    4.1     |     62.5    |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [28]:
%%sql
SELECT * FROM station_data
WHERE precipitation <= 0.5;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

24568 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
|     471100     |    6A6704   | 1990 |   9   |  19 |    50.5   |       None       |     6      |    4.1     |     62.5    |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [ ]:
%%sql
SELECT * FROM station_data
WHERE precipitation IS NULL OR precipitation <= 0.5;

In [ ]:
# coalesce é uma função que substitui valores nulos, por um valor desejado
# abaixo estamos substituindo o null por 0

In [30]:
%%sql
SELECT * FROM station_data
WHERE COALESCE(precipitation, 0) <= 0.5;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

RuntimeError: (psycopg2.errors.UndefinedColumn) column "preciptation" does not exist
LINE 2: WHERE COALESCE(preciptation, 0) <= 0.5;
                       ^
HINT:  Perhaps you meant to reference the column "station_data.precipitation".

[SQL: SELECT * FROM station_data
WHERE COALESCE(preciptation, 0) <= 0.5;]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [31]:
%sql SELECT report_code,  COALESCE(precipitation, 0) AS rainfall FROM station_data;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

28000 rows affected.

+-------------+----------+
| report_code | rainfall |
+-------------+----------+
|    34DDA7   |    0     |
|    39537B   |    0     |
|    C3C6D5   |    0     |
|    145150   |    0     |
|    EF616A   |   0.04   |
|    1F8A7B   |    0     |
|    D028D8   |   1.93   |
|    C74611   |    0     |
|    737090   |    0     |
|    C5C66E   |    0     |
+-------------+----------+
Truncated to displaylimit of 10.

In [32]:
%%sql
SELECT * FROM station_data
WHERE rain = true AND temperature <=32
OR snow_depth > 0;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

1895 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     29880      |    921894   | 1986 |   12  |  26 |    13.9   |       None       |    6.6     |    14.7    |     16.8    |      0.02     |    8.7     | False | False | False |  False  |  False  |
|     700450     |    77D245   | 1985 |   11  |  4  |   -12.2   |      1023.7      |    6.2     |    16.3    |     -7.2    |       0       |    0.8     |  True |  True |  True |   True  |   True  |
|     28010      |    423D51   | 2004 |   2   |  15 |    23.7   |      953.7       |    None    |    6.6     |      26     |      0.02     |    26.4    | False | False | False |  False  |  False  |
|     710830     |    FC6047   | 2008 |   1   |  16 |   -13.7   |      990.6       |    0.4     |    21.9    |     -8.7    |      0.1      |    11.4    | False | False | False |  False  |  False  |
|     889680     |    299DB3   | 2005 |   9   |  23 |    26.7   |      994.8       |    2.5     |     13     |     27.8    |       0       |    None    |  True |  True |  True |   True  |   True  |
|     308560     |    B8FF32   | 1948 |   3   |  11 |    None   |       None       |    7.6     |    2.2     |     15.1    |      None     |    None    |  True |  True |  True |   True  |   True  |
|     215350     |    ACE19E   | 1991 |   4   |  9  |    -6.5   |       None       |    5.5     |     25     |     -3.4    |      0.02     |    2.4     | False | False | False |  False  |  False  |
|     209730     |    A70AAE   | 1986 |   3   |  26 |   -19.8   |       None       |    8.5     |    12.1    |    -13.8    |      0.03     |    4.7     | False | False | False |  False  |  False  |
|     288860     |    985EF3   | 1986 |   3   |  26 |    14.4   |       None       |    None    |    2.4     |     16.6    |       0       |    14.6    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [33]:
%%sql
SELECT * FROM station_data
WHERE rain = true AND (temperature <=32
OR snow_depth > 0);

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

1895 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     29880      |    921894   | 1986 |   12  |  26 |    13.9   |       None       |    6.6     |    14.7    |     16.8    |      0.02     |    8.7     | False | False | False |  False  |  False  |
|     700450     |    77D245   | 1985 |   11  |  4  |   -12.2   |      1023.7      |    6.2     |    16.3    |     -7.2    |       0       |    0.8     |  True |  True |  True |   True  |   True  |
|     28010      |    423D51   | 2004 |   2   |  15 |    23.7   |      953.7       |    None    |    6.6     |      26     |      0.02     |    26.4    | False | False | False |  False  |  False  |
|     710830     |    FC6047   | 2008 |   1   |  16 |   -13.7   |      990.6       |    0.4     |    21.9    |     -8.7    |      0.1      |    11.4    | False | False | False |  False  |  False  |
|     889680     |    299DB3   | 2005 |   9   |  23 |    26.7   |      994.8       |    2.5     |     13     |     27.8    |       0       |    None    |  True |  True |  True |   True  |   True  |
|     308560     |    B8FF32   | 1948 |   3   |  11 |    None   |       None       |    7.6     |    2.2     |     15.1    |      None     |    None    |  True |  True |  True |   True  |   True  |
|     215350     |    ACE19E   | 1991 |   4   |  9  |    -6.5   |       None       |    5.5     |     25     |     -3.4    |      0.02     |    2.4     | False | False | False |  False  |  False  |
|     209730     |    A70AAE   | 1986 |   3   |  26 |   -19.8   |       None       |    8.5     |    12.1    |    -13.8    |      0.03     |    4.7     | False | False | False |  False  |  False  |
|     288860     |    985EF3   | 1986 |   3   |  26 |    14.4   |       None       |    None    |    2.4     |     16.6    |       0       |    14.6    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

Para praticar:

1. Selecione todos os registos onde TEMPERATURE está entre 30 e 50 graus
2. Selecione todos os registos onde a station_pressure é maior que 1000 e um tornado esteve presente
3. Selecione todos os registos com report_cod E6AED7, B950A1 e 98DDAD
4. Selecione todos os registos onde station_pressure é null

## JOIN

### INNER JOIN

In [4]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/rexon_metals

Connecting and switching to connection 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

In [5]:
%sql select * from information_schema.tables where table_schema = 'public'

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+---------------+--------------+------------------+------------+------------------------------+----------------------+---------------------------+--------------------------+------------------------+--------------------+----------+---------------+
| table_catalog | table_schema |    table_name    | table_type | self_referencing_column_name | reference_generation | user_defined_type_catalog | user_defined_type_schema | user_defined_type_name | is_insertable_into | is_typed | commit_action |
+---------------+--------------+------------------+------------+------------------------------+----------------------+---------------------------+--------------------------+------------------------+--------------------+----------+---------------+
|  rexon_metals |    public    |     customer     | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
|  rexon_metals |    public    |  customer_order  | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
|  rexon_metals |    public    |     product      | BASE TABLE |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
|  rexon_metals |    public    | behind_schedule  |    VIEW    |             None             |         None         |            None           |           None           |          None          |        YES         |    NO    |      None     |
|  rexon_metals |    public    | customer_revenue |    VIEW    |             None             |         None         |            None           |           None           |          None          |         NO         |    NO    |      None     |
+---------------+--------------+------------------+------------+------------------------------+----------------------+---------------------------+--------------------------+------------------------+--------------------+----------+---------------+

In [6]:
%%sql
SELECT order_id,
customer.customer_id,
order_date,
ship_date,
name,
street_address,
city,
state,
zip,
product_id,
order_qty
from customer inner join customer_order
on customer.customer_id = customer_order.customer_id

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+----------+-------------+------------+------------+------------------------+----------------+----------+-------+-------+------------+-----------+
| order_id | customer_id | order_date | ship_date  |          name          | street_address |   city   | state |  zip  | product_id | order_qty |
+----------+-------------+------------+------------+------------------------+----------------+----------+-------+-------+------------+-----------+
|    1     |      1      | 2015-05-15 | 2015-05-18 |    LITE Industrial     | 729 Ravine Way |  Irving  |   TX  | 75014 |     1      |    450    |
|    2     |      3      | 2015-05-18 | 2015-05-21 | Re-Barre Construction  | 9043 Windy Dr  |  Irving  |   TX  | 75032 |     2      |    600    |
|    3     |      3      | 2015-05-20 | 2015-05-23 | Re-Barre Construction  | 9043 Windy Dr  |  Irving  |   TX  | 75032 |     5      |    300    |
|    4     |      5      | 2015-05-18 | 2015-05-22 | Marsh Lane Metal Works | 9143 Marsh Ln  | Avondale |   LA  | 79782 |     4      |    375    |
|    5     |      3      | 2015-05-17 | 2015-05-20 | Re-Barre Construction  | 9043 Windy Dr  |  Irving  |   TX  | 75032 |     2      |    500    |
+----------+-------------+------------+------------+------------------------+----------------+----------+-------+-------+------------+-----------+

## LEFT JOIN

In [26]:
%%sql
SELECT customer.customer_id,
name,
street_address,
city,
state,
zip,
order_date,
ship_date,
order_id,
product_id,
order_qty

FROM customer LEFT JOIN customer_order
ON customer.customer_id = customer_order.customer_id

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

7 rows affected.

+-------------+------------------------+------------------+----------+-------+-------+------------+------------+----------+------------+-----------+
| customer_id |          name          |  street_address  |   city   | state |  zip  | order_date | ship_date  | order_id | product_id | order_qty |
+-------------+------------------------+------------------+----------+-------+-------+------------+------------+----------+------------+-----------+
|      1      |    LITE Industrial     |  729 Ravine Way  |  Irving  |   TX  | 75014 | 2015-05-15 | 2015-05-18 |    1     |     1      |    450    |
|      3      | Re-Barre Construction  |  9043 Windy Dr   |  Irving  |   TX  | 75032 | 2015-05-18 | 2015-05-21 |    2     |     2      |    600    |
|      3      | Re-Barre Construction  |  9043 Windy Dr   |  Irving  |   TX  | 75032 | 2015-05-20 | 2015-05-23 |    3     |     5      |    300    |
|      5      | Marsh Lane Metal Works |  9143 Marsh Ln   | Avondale |   LA  | 79782 | 2015-05-18 | 2015-05-22 |    4     |     4      |    375    |
|      3      | Re-Barre Construction  |  9043 Windy Dr   |  Irving  |   TX  | 75032 | 2015-05-17 | 2015-05-20 |    5     |     2      |    500    |
|      2      |    Rex Tooling Inc     | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |    None    |    None    |   None   |    None    |    None   |
|      4      |  Prairie Construction  |   264 Long Rd    |  Moore   |   OK  | 62104 |    None    |    None    |   None   |    None    |    None   |
+-------------+------------------------+------------------+----------+-------+-------+------------+------------+----------+------------+-----------+

In [27]:
%%sql
SELECT customer.customer_id, name AS customer_name
FROM customer LEFT JOIN customer_order
ON customer.customer_id = customer_order.customer_id
WHERE order_id IS NULL;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

2 rows affected.

+-------------+----------------------+
| customer_id |    customer_name     |
+-------------+----------------------+
|      2      |   Rex Tooling Inc    |
|      4      | Prairie Construction |
+-------------+----------------------+

In [29]:
%%sql 
SELECT
order_id,
customer.customer_id,
name AS customer_name,
street_address,
city,  
state,
zip,
order_date,
product.product_id,
description,
order_qty

FROM customer

INNER JOIN customer_order
ON customer_order.customer_id = customer.customer_id

INNER JOIN product
ON customer_order.product_id = product.product_id

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+----------+-------------+------------------------+----------------+----------+-------+-------+------------+------------+-------------+-----------+
| order_id | customer_id |     customer_name      | street_address |   city   | state |  zip  | order_date | product_id | description | order_qty |
+----------+-------------+------------------------+----------------+----------+-------+-------+------------+------------+-------------+-----------+
|    1     |      1      |    LITE Industrial     | 729 Ravine Way |  Irving  |   TX  | 75014 | 2015-05-15 |     1      |    Copper   |    450    |
|    2     |      3      | Re-Barre Construction  | 9043 Windy Dr  |  Irving  |   TX  | 75032 | 2015-05-18 |     2      |   Aluminum  |    600    |
|    3     |      3      | Re-Barre Construction  | 9043 Windy Dr  |  Irving  |   TX  | 75032 | 2015-05-20 |     5      |    Bronze   |    300    |
|    4     |      5      | Marsh Lane Metal Works | 9143 Marsh Ln  | Avondale |   LA  | 79782 | 2015-05-18 |     4      |    Steel    |    375    |
|    5     |      3      | Re-Barre Construction  | 9043 Windy Dr  |  Irving  |   TX  | 75032 | 2015-05-17 |     2      |   Aluminum  |    500    |
+----------+-------------+------------------------+----------------+----------+-------+-------+------------+------------+-------------+-----------+

In [ ]:
# Fazer as outras queries dos slides de join%%sql

SELECT 
customer.customer_id,
name AS customer_name,
sum(order_qty*price) AS total_revenue

FROM customer_order
INNER JOIN customer
ON customer.customer_id = customer_order.customer_id

INNER JOIN product
ON customer_order.product_id = product.product_id

GROUP BY 1, 2

In [ ]:
# retorne o valor total do pedido de um cliente, mostre o id, o nome e o valor total do pedido

In [31]:
%%sql

SELECT 
customer.customer_id,
name AS customer_name,
sum(order_qty*price) AS total_revenue

FROM customer_order
INNER JOIN customer
ON customer.customer_id = customer_order.customer_id

INNER JOIN product
ON customer_order.product_id = product.product_id

GROUP BY 1, 2

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

3 rows affected.

+-------------+------------------------+---------------+
| customer_id |     customer_name      | total_revenue |
+-------------+------------------------+---------------+
|      5      | Marsh Lane Metal Works |    4616.25    |
|      1      |    LITE Industrial     |    3379.50    |
|      3      | Re-Barre Construction  |    4038.00    |
+-------------+------------------------+---------------+

## De volta para `weather_sation`

In [34]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/weather_stations

Connecting and switching to connection 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

In [39]:
%%sql
SELECT year,
SUM(precipitation) AS total_precipitation
FROM station_data
GROUP BY year
HAVING SUM(precipitation) > 30

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

30 rows affected.

+------+---------------------+
| year | total_precipitation |
+------+---------------------+
| 2008 |        46.75        |
| 1989 |        45.44        |
| 1991 |        53.26        |
| 1974 |        42.21        |
| 1977 |        33.86        |
| 1983 |        45.61        |
| 1984 |        53.91        |
| 2009 |        58.43        |
| 2005 |        44.48        |
| 1973 |        35.08        |
+------+---------------------+
Truncated to displaylimit of 10.

## stops_lecture

Usando o bash do container:
```
psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS stops_lecture'
psql -U postgres -h localhost -c 'CREATE DATABASE stops_lecture'
psql -U postgres -h localhost -d stops_lecture -f data/stops_lecture.sql
```
Podem tentar correr no jupyter:

In [41]:
#!PGPASSWORD=postgres psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS stops_lecture'
#!PGPASSWORD=postgres psql -U postgres -h localhost -c 'CREATE DATABASE stops_lecture' 
#!PGPASSWORD=postgres psql -U postgres -h localhost -d stops_lecture -f data/stops_lecture.sql

DROP DATABASE
^C
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
SET
SET
CREATE TABLE
psql:data/stops_lecture.sql:40: ERROR:  role "jovyan" does not exist
CREATE TABLE
psql:data/stops_lecture.sql:53: ERROR:  role "jovyan" does not exist
COPY 84779
COPY 211
CREATE INDEX
CREATE INDEX

In [44]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/stops_lecture

Connecting and switching to connection 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

In [50]:
%%sql result <<
SELECT *
FROM Stops
ORDER BY RANDOM()
LIMIT 10;

UsageError: Unrecognized argument(s): --result
If you need help solving this issue, send us a message: https://ploomber.io/community

In [49]:
result

+--------+----------+--------+------+--------+----------+---------+--------+---------------+
|   id   |   race   |  sex   | age  | arrest | citation | warning | search |    location   |
+--------+----------+--------+------+--------+----------+---------+--------+---------------+
| 87260  |  black   |  male  | None | False  |   True   |  False  | False  |  Adams Point  |
| 50532  |  white   |  male  | None | False  |   True   |  False  | False  | North Oakland |
| 85526  | hispanic |  male  | None | False  |   True   |  False  | False  |  San Antonio  |
| 130089 |  black   |  male  | 29.0 | False  |   True   |  False  | False  | Seminary Park |
| 95891  | hispanic |  male  | None | False  |  False   |   True  | False  |  East Oakland |
| 27953  |  black   | female | None | False  |  False   |  False  | False  | Hoover-Foster |
| 117202 | hispanic |  male  | 28.0 | False  |  False   |   True  |  True  |    Elmhurst   |
| 43532  | hispanic |  male  | None | False  |   True   |  False  | False  |  East Oakland |
| 25568  | hispanic |  male  | None | False  |   True   |  False  | False  |  San Antonio  |
| 77315  |  black   |  male  | None | False  |  False   |  False  | False  |    Elmhurst   |
+--------+----------+--------+------+--------+----------+---------+--------+---------------+
Truncated to displaylimit of 10.

## Exercise 1

Como encontramos as stops que aconteceram na mesma location que a stop de ID 123?

In [45]:
%%sql
SELECT *
FROM Stops
WHERE id = 123;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

1 rows affected.

+-----+----------+--------+------+--------+----------+---------+--------+-----------------+
|  id |   race   |  sex   | age  | arrest | citation | warning | search |     location    |
+-----+----------+--------+------+--------+----------+---------+--------+-----------------+
| 123 | hispanic | female | None | False  |  False   |  False  | False  | Bancroft Avenue |
+-----+----------+--------+------+--------+----------+---------+--------+-----------------+

In [55]:
%%sql
SELECT *
FROM Stops
WHERE location = 'Bancroft Avenue';

Running query in 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

444 rows affected.

+-------+----------+--------+------+--------+----------+---------+--------+-----------------+
|   id  |   race   |  sex   | age  | arrest | citation | warning | search |     location    |
+-------+----------+--------+------+--------+----------+---------+--------+-----------------+
|  2720 |  white   | female | None | False  |   True   |  False  | False  | Bancroft Avenue |
|  3097 |  black   |  male  | None | False  |   True   |  False  |  True  | Bancroft Avenue |
|  4715 | hispanic | female | None | False  |  False   |  False  | False  | Bancroft Avenue |
| 12159 |  black   | female | None | False  |   True   |  False  | False  | Bancroft Avenue |
| 80360 | hispanic | female | None | False  |   True   |  False  | False  | Bancroft Avenue |
|  123  | hispanic | female | None | False  |  False   |  False  | False  | Bancroft Avenue |
|  603  |  black   | female | None | False  |  False   |   True  | False  | Bancroft Avenue |
|  928  |  black   |  male  | None | False  |  False   |   True  | False  | Bancroft Avenue |
|  2857 |  black   |  male  | None | False  |  False   |   True  | False  | Bancroft Avenue |
|  2914 | hispanic | female | None | False  |   True   |  False  | False  | Bancroft Avenue |
+-------+----------+--------+------+--------+----------+---------+--------+-----------------+
Truncated to displaylimit of 10.

In [53]:
%%sql
SELECT S1.id, S1.race,
       S1.location
FROM Stops as S1,   -- the "other stops"
     Stops as S2    -- the "stop that refers to ID 123"
WHERE S1.location = S2.location -- the "other stops" must match the ID 123 location
     AND S2.id = 123;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

444 rows affected.

+-------+----------+-----------------+
|   id  |   race   |     location    |
+-------+----------+-----------------+
|  2720 |  white   | Bancroft Avenue |
|  3097 |  black   | Bancroft Avenue |
|  4715 | hispanic | Bancroft Avenue |
| 12159 |  black   | Bancroft Avenue |
| 80360 | hispanic | Bancroft Avenue |
|  123  | hispanic | Bancroft Avenue |
|  603  |  black   | Bancroft Avenue |
|  928  |  black   | Bancroft Avenue |
|  2857 |  black   | Bancroft Avenue |
|  2914 | hispanic | Bancroft Avenue |
+-------+----------+-----------------+
Truncated to displaylimit of 10.

Usando uma [CTE](https://pt.wikipedia.org/wiki/Common_table_expression)

## Common Table Expression

As vezes pode ser útil salvar os resultados de uma query. Há 5 estratégias:
1. Criar uma nova tabela
2. Criar uma view
3. Criar uma materialized view
4. Criar uma tabela temporária - CTE (Common Table Expression)
5. Usar uma subquery

In [56]:
%%sql
WITH Location123 AS (
    SELECT location
    FROM Stops
    WHERE id = 123
)
SELECT S.id, S.race,
       S.location
FROM Stops as S,
    Location123
WHERE S.location = Location123.location;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

444 rows affected.

+-------+----------+-----------------+
|   id  |   race   |     location    |
+-------+----------+-----------------+
|  2720 |  white   | Bancroft Avenue |
|  3097 |  black   | Bancroft Avenue |
|  4715 | hispanic | Bancroft Avenue |
| 12159 |  black   | Bancroft Avenue |
| 80360 | hispanic | Bancroft Avenue |
|  123  | hispanic | Bancroft Avenue |
|  603  |  black   | Bancroft Avenue |
|  928  |  black   | Bancroft Avenue |
|  2857 |  black   | Bancroft Avenue |
|  2914 | hispanic | Bancroft Avenue |
+-------+----------+-----------------+
Truncated to displaylimit of 10.

In [57]:
%%sql
WITH Location123 AS (
    SELECT location
    FROM Stops
    WHERE id = 123
) SELECT * FROM Location123;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

1 rows affected.

+-----------------+
|     location    |
+-----------------+
| Bancroft Avenue |
+-----------------+

In [58]:
%%sql
SELECT S1.id, S1.race, S1.location
FROM Stops S1
WHERE S1.location = (
         SELECT S2.location
         FROM Stops
         S2 WHERE S2.id = 123);

Running query in 'postgresql://postgres:***@127.0.0.1:5432/stops_lecture'

444 rows affected.

+-------+----------+-----------------+
|   id  |   race   |     location    |
+-------+----------+-----------------+
|  2720 |  white   | Bancroft Avenue |
|  3097 |  black   | Bancroft Avenue |
|  4715 | hispanic | Bancroft Avenue |
| 12159 |  black   | Bancroft Avenue |
| 80360 | hispanic | Bancroft Avenue |
|  123  | hispanic | Bancroft Avenue |
|  603  |  black   | Bancroft Avenue |
|  928  |  black   | Bancroft Avenue |
|  2857 |  black   | Bancroft Avenue |
|  2914 | hispanic | Bancroft Avenue |
+-------+----------+-----------------+
Truncated to displaylimit of 10.