# SQL

## Configuração do Ambiente

Precisamos "subir" o container com o postgres e carregar os dados na base.
Vocês já fizeram isso no projeto 2 usando um script.
Aqui vamos fazer usando a linha de comando do container.

Primeiro criamos o container:
`docker-compose -f docker-compose.yml up`

Primeiro verifiquem o nome do container usando o comando:
`docker ps`

Depois usamos o nome do container para "entrar" na linha de comando do container:
`docker exec -it database bash`

Verifiquem se a pasta `data` dentro do container tem os arquivos necessários.
Caso não tenha, corra os comandos abaixo, para copiar os arquivos para a pasta data antes de povoar a base de dados. **Só é necessário correr os comandos caso a pasta `data` não esteja com os arquivos desejados e à medida em que for sendo necessário.**

```
docker cp ./data/wheater_stations.sql database:/data/weather_stations.sql
docker cp ./data/surgetech_conference.sql database:/data/surgetech_conference.sql
docker cp ./data/rexon_metals.sql database:/data/rexon_metals.sql

```
Agora, vamos usar comandos de postgres para criar e povoar a base de dados.

Primeiro, vamos apagar a base, para garantir que não temos resquícios de usos anteriores.

`psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS rexon_metals'`

E agora criamos a base de dados:

`psql -U postgres -h localhost -c 'CREATE DATABASE rexon_metals'`

Por fim, vamos povoar os dados na base de dados, usando o arquivo `rexon_metals.sql`

`psql -U postgres -h localhost -d rexon_metals -f data/rexon_metals.sql`

# Queries usando o jupyter

In [20]:
import pandas as pd

In [21]:
%reload_ext sql

In [22]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/rexon_metals

Connecting and switching to connection 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

In [24]:
%sql SELECT * FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [25]:
pd.DataFrame(_)

,customer_id,name,region,street_address,city,state,zip
0,1,LITE Industrial,Southwest,729 Ravine Way,Irving,TX,75014
1,2,Rex Tooling Inc,Southwest,6129 Collie Blvd,Dallas,TX,75201
2,3,Re-Barre Construction,Southwest,9043 Windy Dr,Irving,TX,75032
3,4,Prairie Construction,Southwest,264 Long Rd,Moore,OK,62104
4,5,Marsh Lane Metal Works,Southeast,9143 Marsh Ln,Avondale,LA,79782

In [30]:
%%sql
SELECT *
FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [31]:
query = %sql SELECT * FROM customer LIMIT 10;
df = pd.DataFrame(query)
df

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

,customer_id,name,region,street_address,city,state,zip
0,1,LITE Industrial,Southwest,729 Ravine Way,Irving,TX,75014
1,2,Rex Tooling Inc,Southwest,6129 Collie Blvd,Dallas,TX,75201
2,3,Re-Barre Construction,Southwest,9043 Windy Dr,Irving,TX,75032
3,4,Prairie Construction,Southwest,264 Long Rd,Moore,OK,62104
4,5,Marsh Lane Metal Works,Southeast,9143 Marsh Ln,Avondale,LA,79782

In [32]:
%sql SELECT * FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [33]:
%sql SELECT customer_id, name FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+
| customer_id |          name          |
+-------------+------------------------+
|      1      |    LITE Industrial     |
|      2      |    Rex Tooling Inc     |
|      3      | Re-Barre Construction  |
|      4      |  Prairie Construction  |
|      5      | Marsh Lane Metal Works |
+-------------+------------------------+

In [35]:
%sql select * from product

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+-------+
| product_id | description | price |
+------------+-------------+-------+
|     1      |    Copper   |  7.51 |
|     2      |   Aluminum  |  2.58 |
|     3      |    Silver   |   15  |
|     4      |    Steel    | 12.31 |
|     5      |    Bronze   |   4   |
|     6      |  Duralumin  |  7.6  |
|     7      |    Solder   | 14.16 |
|     8      |   Stellite  | 13.31 |
|     9      |    Brass    |  4.75 |
+------------+-------------+-------+

In [38]:
%sql select order_id, ship_date from customer_order;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+----------+------------+
| order_id | ship_date  |
+----------+------------+
|    1     | 2015-05-18 |
|    2     | 2015-05-21 |
|    3     | 2015-05-23 |
|    4     | 2015-05-22 |
|    5     | 2015-05-20 |
+----------+------------+

In [39]:
%%sql
SELECT
product_id,
description,
price,
price * 1.07 as taxed_price
from product;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+-------+-------------+
| product_id | description | price | taxed_price |
+------------+-------------+-------+-------------+
|     1      |    Copper   |  7.51 |    8.0357   |
|     2      |   Aluminum  |  2.58 |    2.7606   |
|     3      |    Silver   |   15  |    16.05    |
|     4      |    Steel    | 12.31 |   13.1717   |
|     5      |    Bronze   |   4   |     4.28    |
|     6      |  Duralumin  |  7.6  |    8.132    |
|     7      |    Solder   | 14.16 |   15.1512   |
|     8      |   Stellite  | 13.31 |   14.2417   |
|     9      |    Brass    |  4.75 |    5.0825   |
+------------+-------------+-------+-------------+

In [42]:
%%sql
SELECT
product_id,
description,
price,
round(price * 1.07, 2) as taxed_price
from product;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+-------+-------------+
| product_id | description | price | taxed_price |
+------------+-------------+-------+-------------+
|     1      |    Copper   |  7.51 |     8.04    |
|     2      |   Aluminum  |  2.58 |     2.76    |
|     3      |    Silver   |   15  |    16.05    |
|     4      |    Steel    | 12.31 |    13.17    |
|     5      |    Bronze   |   4   |     4.28    |
|     6      |  Duralumin  |  7.6  |     8.13    |
|     7      |    Solder   | 14.16 |    15.15    |
|     8      |   Stellite  | 13.31 |    14.24    |
|     9      |    Brass    |  4.75 |     5.08    |
+------------+-------------+-------+-------------+

In [45]:
%%sql
SELECT product_id,
description,
(price - 1.10) as reduced_price
from product;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

9 rows affected.

+------------+-------------+---------------+
| product_id | description | reduced_price |
+------------+-------------+---------------+
|     1      |    Copper   |      6.41     |
|     2      |   Aluminum  |      1.48     |
|     3      |    Silver   |     13.90     |
|     4      |    Steel    |     11.21     |
|     5      |    Bronze   |      2.90     |
|     6      |  Duralumin  |      6.50     |
|     7      |    Solder   |     13.06     |
|     8      |   Stellite  |     12.21     |
|     9      |    Brass    |      3.65     |
+------------+-------------+---------------+

In [46]:
%%sql
SELECT name,
city || ', ' || state as location
from customer;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+------------------------+--------------+
|          name          |   location   |
+------------------------+--------------+
|    LITE Industrial     |  Irving, TX  |
|    Rex Tooling Inc     |  Dallas, TX  |
| Re-Barre Construction  |  Irving, TX  |
|  Prairie Construction  |  Moore, OK   |
| Marsh Lane Metal Works | Avondale, LA |
+------------------------+--------------+

In [48]:
%sql select * from customer;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [54]:
%%sql
SELECT name,
concat(city,', ', state) as location
from customer;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+------------------------+--------------+
|          name          |   location   |
+------------------------+--------------+
|    LITE Industrial     |  Irving, TX  |
|    Rex Tooling Inc     |  Dallas, TX  |
| Re-Barre Construction  |  Irving, TX  |
|  Prairie Construction  |  Moore, OK   |
| Marsh Lane Metal Works | Avondale, LA |
+------------------------+--------------+

## Criar a base de dados `wheather_stations`

`psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS weather_stations'`

E agora criamos a base de dados:

`psql -U postgres -h localhost -c 'CREATE DATABASE weather_stations'`

Por fim, vamos povoar os dados na base de dados, usando o arquivo `weather_stations.sql`

`psql -U postgres -h localhost -d weather_stations -f data/weather_stations.sql`

In [58]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/weather_stations

Connecting and switching to connection 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

In [62]:
%%sql
SELECT * FROM station_data
limit 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

10 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [63]:
%%sql
SELECT * FROM station_data
WHERE year = 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

249 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     719160     |    BAB974   | 2010 |   1   |  22 |   -22.8   |      1014.2      |    None    |    10.2    |    -18.5    |       0       |    9.4     | False | False | False |  False  |  False  |
|     766870     |    7C0938   | 2010 |   3   |  22 |     48    |      871.2       |    4.4     |    1.5     |     50.8    |      0.11     |    None    |  True |  True |  True |   True  |   True  |
|     134624     |    11CEA1   | 2010 |   2   |  17 |     46    |       None       |    3.4     |    2.6     |      46     |      None     |    None    | False | False | False |  False  |  False  |
|     384010     |    C67A6C   | 2010 |   3   |  24 |    14.4   |       None       |     4      |    10.7    |     21.1    |      None     |    None    | False | False | False |  False  |  False  |
|     232210     |    DFDF58   | 2010 |   2   |  25 |    -7.3   |       None       |     3      |    10.3    |     -2.2    |      None     |    None    | False | False | False |  False  |  False  |
|     717385     |    302766   | 2010 |   3   |  14 |    28.9   |       None       |    None    |    6.9     |     47.2    |       0       |    None    | False | False | False |  False  |  False  |
|     726375     |    36C13D   | 2010 |   3   |  6  |    18.9   |       None       |     10     |    2.7     |     30.7    |       0       |     2      | False | False | False |  False  |  False  |
|     710140     |    7FE84E   | 2010 |   4   |  2  |    8.7    |       None       |    None    |    None    |     36.4    |       0       |    None    | False | False | False |  False  |  False  |
|     965950     |    80413C   | 2010 |   2   |  25 |    75.6   |      1006.8      |    3.5     |    1.5     |     78.2    |      0.75     |    None    | False | False | False |  False  |  False  |
|     144470     |    079A10   | 2010 |   1   |  28 |    34.3   |      1001.9      |    7.9     |    2.4     |     41.9    |      0.2      |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [64]:
%%sql
SELECT * FROM station_data
WHERE year != 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

27751 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [65]:
%%sql
SELECT * FROM station_data
WHERE year <> 2010;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/weather_stations'

27751 rows affected.

+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
| station_number | report_code | year | month | day | dew_point | station_pressure | visibility | wind_speed | temperature | precipitation | snow_depth |  fog  |  rain |  hail | thunder | tornado |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
|     143080     |    34DDA7   | 2002 |   12  |  21 |    33.8   |      987.4       |    3.4     |    0.2     |      36     |       0       |    None    |  True |  True |  True |   True  |   True  |
|     766440     |    39537B   | 1998 |   10  |  1  |    72.7   |      1014.6      |    5.9     |    6.7     |     83.3    |       0       |    None    | False | False | False |  False  |  False  |
|     176010     |    C3C6D5   | 2001 |   5   |  18 |    55.7   |       None       |    7.3     |    4.3     |     69.1    |       0       |    None    | False | False | False |  False  |  False  |
|     125600     |    145150   | 2007 |   10  |  14 |     33    |       None       |    6.9     |    2.5     |     39.7    |       0       |    None    | False | False | False |  False  |  False  |
|     470160     |    EF616A   | 1967 |   7   |  29 |    65.6   |       None       |    9.2     |    1.2     |     72.4    |      0.04     |    None    | False | False | False |  False  |  False  |
|     821930     |    1F8A7B   | 1953 |   6   |  18 |    72.8   |      1007.1      |    12.4    |    3.6     |     81.3    |       0       |    None    | False | False | False |  False  |  False  |
|     478070     |    D028D8   | 1981 |   6   |  27 |    73.4   |       None       |    7.9     |     3      |      77     |      1.93     |    None    | False | False | False |  False  |  False  |
|     719200     |    C74611   | 1978 |   2   |  5  |    -4.4   |      962.9       |    14.9    |    13.3    |     1.6     |       0       |    9.8     | False | False | False |  False  |  False  |
|     477460     |    737090   | 1962 |   8   |  14 |    72.3   |      1009.6      |    24.1    |    5.1     |     84.5    |       0       |    None    | False | False | False |  False  |  False  |
|     598550     |    C5C66E   | 2006 |   10  |  15 |    72.9   |       None       |    14.2    |    1.7     |      82     |       0       |    None    | False | False | False |  False  |  False  |
+----------------+-------------+------+-------+-----+-----------+------------------+------------+------------+-------------+---------------+------------+-------+-------+-------+---------+---------+
Truncated to displaylimit of 10.

In [ ]:
# fazer as outras queries dos slides até slide 29
# fazer exercícios do slide 29