# SQL

## Configuração do Ambiente

Precisamos "subir" o container com o postgres e carregar os dados na base.
Vocês já fizeram isso no projeto 2 usando um script.
Aqui vamos fazer usando a linha de comando do container.

Primeiro criamos o container:
`docker-compose -f docker-compose.yml up`

Primeiro verifiquem o nome do container usando o comando:
`docker ps`

Depois usamos o nome do container para "entrar" na linha de comando do container:
`docker exec -it database bash`

Verifiquem se a pasta `data` dentro do container tem os arquivos necessários.
Caso não tenha, corra os comandos abaixo, para copiar os arquivos para a pasta data antes de povoar a base de dados. **Só é necessário correr os comandos caso a pasta `data` não esteja com os arquivos desejados e à medida em que for sendo necessário.**

```
docker cp ./data/wheater_stations.sql database:/data/weather_stations.sql
docker cp ./data/surgetech_conference.sql database:/data/surgetech_conference.sql
docker cp ./data/rexon_metals.sql database:/data/rexon_metals.sql

```
Agora, vamos usar comandos de postgres para criar e povoar a base de dados.

Primeiro, vamos apagar a base, para garantir que não temos resquícios de usos anteriores.

`psql -U postgres -h localhost -c 'DROP DATABASE IF EXISTS rexon_metals'`

E agora criamos a base de dados:

`psql -U postgres -h localhost -c 'CREATE DATABASE rexon_metals'`

Por fim, vamos povoar os dados na base de dados, usando o arquivo `weather_stations.sql`

`psql -U postgres -h localhost -d rexon_metals -f data/rexon_metals.sql`

# Queries usando o jupyter

In [8]:
import pandas as pd

In [1]:
%load_ext sql

In [3]:
%sql postgresql://postgres:postgres@127.0.0.1:5432/rexon_metals

Connecting to 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

In [10]:
%sql SELECT * FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [11]:
pd.DataFrame(_)

,customer_id,name,region,street_address,city,state,zip
0,1,LITE Industrial,Southwest,729 Ravine Way,Irving,TX,75014
1,2,Rex Tooling Inc,Southwest,6129 Collie Blvd,Dallas,TX,75201
2,3,Re-Barre Construction,Southwest,9043 Windy Dr,Irving,TX,75032
3,4,Prairie Construction,Southwest,264 Long Rd,Moore,OK,62104
4,5,Marsh Lane Metal Works,Southeast,9143 Marsh Ln,Avondale,LA,79782

In [7]:
%%sql
SELECT *
FROM customer LIMIT 10;

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

+-------------+------------------------+-----------+------------------+----------+-------+-------+
| customer_id |          name          |   region  |  street_address  |   city   | state |  zip  |
+-------------+------------------------+-----------+------------------+----------+-------+-------+
|      1      |    LITE Industrial     | Southwest |  729 Ravine Way  |  Irving  |   TX  | 75014 |
|      2      |    Rex Tooling Inc     | Southwest | 6129 Collie Blvd |  Dallas  |   TX  | 75201 |
|      3      | Re-Barre Construction  | Southwest |  9043 Windy Dr   |  Irving  |   TX  | 75032 |
|      4      |  Prairie Construction  | Southwest |   264 Long Rd    |  Moore   |   OK  | 62104 |
|      5      | Marsh Lane Metal Works | Southeast |  9143 Marsh Ln   | Avondale |   LA  | 79782 |
+-------------+------------------------+-----------+------------------+----------+-------+-------+

In [9]:
query = %sql SELECT * FROM customer LIMIT 10;
df = pd.DataFrame(query)
df

Running query in 'postgresql://postgres:***@127.0.0.1:5432/rexon_metals'

5 rows affected.

,customer_id,name,region,street_address,city,state,zip
0,1,LITE Industrial,Southwest,729 Ravine Way,Irving,TX,75014
1,2,Rex Tooling Inc,Southwest,6129 Collie Blvd,Dallas,TX,75201
2,3,Re-Barre Construction,Southwest,9043 Windy Dr,Irving,TX,75032
3,4,Prairie Construction,Southwest,264 Long Rd,Moore,OK,62104
4,5,Marsh Lane Metal Works,Southeast,9143 Marsh Ln,Avondale,LA,79782